$info:#ff7f51;
$light:#e29578;
.auth{
    .row{
        .col-6{
            .card{
                height: 100%;
            }
        }
        .col-4{       
            img{                    
                height: 100% !important;
            }

        }
    }
}