#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.sideNavbar {
  .list-group-item {
    .btn:hover {
      background-color: rgba(255, 255, 255, 0.3) !important;
    }
  }
}

//content styling
.row {
  .col-lg-3 {
    .card {
      .profile {
        width: 100%;
        min-height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(https://wallpapercave.com/wp/wp2260607.jpg);
        background-size: cover;


        .circle-pic {
          img {
            border-radius: 50%;
            width: 130px;
            height: 130px;
            border: 1px solid black;
            box-shadow: 0 0 10px white;
          }
        }
      }
    }
  }

  .col-lg-9 {
    .loader {
      display: flex;
      align-items: center;
      min-height: 705px;
      justify-content: center;
    }

    .card {
      display: flex;
      justify-content: center;

      min-height: 705px;
    }
  }
}

.profile:hover .camera {
  display: block !important;
}